# general
PORT=3000
NODE_ENV=development

# database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio?schema=public"

# token
JWT_SECRET=b5ef9a583e4408e50fbc548b4e45999adc3642c330677ba29483ac47cc9100a2
JWT_EXPIRATION=1d
JWT_REFRESH_EXPIRATION=7d

# admin credentials
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="password123"
